 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Informações</h2>
                    <hr class="star-light">
                </div>
            </div>
                <div class="row text-center">
                    <h3>Cerimônia religiosa</h3>
                    <p>Igreja Matriz Nossa Senhora do Carmo<br/> Praça Floriano Peixoto, Arcos- MG. </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d417.2500564649198!2d-45.54050563688078!3d-20.28151759530543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b488e98fda357d%3A0x88a4a794bfa2f51f!2sIgreja+Nossa+Senhora+do+Carmo!5e0!3m2!1sen!2sbr!4v1514058970070" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <br />
                    <br />
                </div>
                <div class="row text-center">
                    <h3>Recepção</h3>
                    <p>Chalé da Mata</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1697.8473679343977!2d-45.557935923287715!3d-20.311304012191446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b488fc3d994713%3A0x5e51e77ff22e68d8!2sChal%C3%A9+da+Mata!5e0!3m2!1sen!2sbr!4v1514059121452" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>