    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Endereços</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col col-md-5 col-md-offset-1">
                        <h3>Bárbara</h3>
                        <p>
                            Av. Almansor de Sousa Rabelo, 201<br/>
                            Centro<br/>
                            CEP 35588-000<br/>
                            Arcos – MG
                        </p>
                    </div>
                    <div class="footer-col col-md-5">
                        <h3>Rafael</h3>
                        <p>
                            Rua Dom Alberto Gonçalves, 962<br/>
                            Vila Tamandaré<br/>
                            CEP 14085-100<br/>
                            Ribeirão Preto - SP
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
