 <!-- sugestions Section -->
    <section id="gifts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Presentes</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-bottom:30px">
                        <h3>Veja nossa lista de presentes ;)</h3>
                    </div>
                </div>
                <div class="text-center">
                    <a href="https://www.querodecasamento.com.br/lista-de-casamento/barbaraerafael2018/" target="_blank"><img src="https://files.workr.com.br/ViewImage.aspx?image=mUOwddBdaLxtoP3ZumeWKA==" style="height:100px;"/></a>
                    <p><a href="https://www.querodecasamento.com.br/lista-de-casamento/barbaraerafael2018/" target="_blank">Acesse a lista</a></p>
                </div>
                <!-- <div class="row">
                    {% for hotel in include.hoteis %}
                        <div class="col-sm-4 text-center" >
                            <br/>
                            <h5>{{hotel.name}}</h5>
                            <p><a href="{{hotel.site}}" target="_blank">Acesse o site</a></p>
                            <p>{{hotel.phone}}</p>
                            <p>{{hotel.address}}</p>
                            <br/>
                        </div>
                    {% endfor %}
                </div> -->

            </div>
        </div>
    </section>