 <!-- sugestions Section -->
    <section id="sugestions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sugestões</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <div class="row text-center">
                    <h3>Não é de Arcos?<br/>Temos algumas sugestões para você!</h3>
                    <br/>
                    <br/>
                    <h4>Hotéis</h4>
                    <div class="row">
                        {% for hotel in include.hoteis %}
                            <div class="col-sm-4" >
                                <br/>
                                <h5>{{hotel.name}}</h5>
                                <p><a href="{{hotel.site}}" target="_blank">Acesse o site</a></p>
                                <p>{{hotel.phone}}</p>
                                <p>{{hotel.address}}</p>
                                <br/>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>