<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include boyfriends_grid.html boyfriends=site.data.boyfriends %}
    {% include about.html %}
    {% include sugestions.html hoteis=site.data.hoteis %}

    {% include contact_static.html %}
    {% include gifts.html %}

    {% include footer.html %}
    {% include modals.html boyfriends=site.data.boyfriends %}
    {% include js.html %}
    </body>
</html>